.wrapper_with_padding
  #docs.clearfix
    -unless @docs.blank?
      -@docs.each do |doc|
        %a{ href: (url_for [doc])}
        .doc
          %h2.title=  doc.title, doc
          %p.date= time_ago_in_words(doc.created_at)
          %p.content= truncate(doc.content, length:50)
    - else
      %h2 Create Doc!
      %p Start Creating Documents
      %button= link_to "Create Doc", new_doc_path

= link_to "New Doc", new_doc_path